# Baseline vs Enhanced Retrieval Comparison

This notebook compares the **baseline** and **enhanced** versions of the FAQ Retrieval Assistant.

The enhanced version introduces multilingual question variants (English + Macedonian)

The goal of this comparison is to **quantify improvements** in:
- Retrieval accuracy
- Confidence behavior
- Coverage
- Macedonian query performance

In [1]:
import pandas as pd
import json

In [3]:
BASELINE_RESULTS_PATH = "results/baseline_results.csv"
ENHANCED_RESULTS_PATH = "results/enhanced_results.csv"

baseline_df = pd.read_csv(BASELINE_RESULTS_PATH)
enhanced_df = pd.read_csv(ENHANCED_RESULTS_PATH)

In [4]:
baseline_df.head()

,query,language,expected_faq_id,retrieved_ids,rank_of_expected,top1_correct,top3_correct,confidence
0,"I can't log into my account, how do I reset my...",en,1,"[1, 2, 13]",1.0,True,True,0.681
1,Forgot my password and now I'm locked out,en,2,"[2, 1, 3]",1.0,True,True,0.648
2,The password reset email never arrives,en,3,"[3, 1, 2]",1.0,True,True,0.590
3,How can I update the email linked to my account?,en,4,"[4, 5, 16]",1.0,True,True,0.485
4,Where can I change my credit card details?,en,5,"[4, 5, 16]",2.0,False,True,0.151

In [5]:
enhanced_df.head()

,query,language,expected_faq_id,retrieved_ids,rank_of_expected,top1_correct,top3_correct,confidence
0,"I can't log into my account, how do I reset my...",en,reset_password_q_en,"['reset_password_q_en', 'forgot_password_login...",1,True,True,0.681
1,Forgot my password and now I'm locked out,en,forgot_password_login_q_en,"['forgot_password_login_q_en', 'reset_password...",1,True,True,0.648
2,The password reset email never arrives,en,password_reset_email_missing_q_en,"['password_reset_email_missing_q_en', 'reset_p...",1,True,True,0.590
3,How can I update the email linked to my account?,en,change_email_q_en,"['change_email_q_en', 'update_billing_q_en', '...",1,True,True,0.485
4,Where can I change my credit card details?,en,update_billing_q_en,"['change_email_q_en', 'update_billing_q_en', '...",2,False,True,0.151

In [7]:
with open("results/baseline_metrics.json", "r") as f:
    baseline_metrics = json.load(f)

with open("results/enhanced_metrics.json", "r") as f:
    enhanced_metrics = json.load(f)

In [8]:
baseline_metrics

{'run_metadata': {'run_name': 'baseline',
  'timestamp_utc': '2025-12-25T21:27:11.249760',
  'embedding_model': 'text-embedding-3-small',
  'top_k': 3,
  'confidence_formula': '0.7*similarity + 0.3*margin',
  'notes': 'Baseline evaluation before multilingual FAQ augmentation'},
 'num_queries': 32,
 'top1_accuracy': 0.84375,
 'top3_accuracy': 0.9375,
 'accuracy_by_language': {'top1_correct': {'en': 0.95,
   'mk': 0.6666666666666666},
  'top3_correct': {'en': 1.0, 'mk': 0.8333333333333334}},
 'confidence_stats': {'correct': {'count': 27.0,
   'mean': 0.5346296296296297,
   'std': 0.22070030987886444,
   'min': 0.08,
   '25%': 0.381,
   '50%': 0.648,
   '75%': 0.688,
   'max': 0.807},
  'incorrect': {'count': 5.0,
   'mean': 0.0992,
   'std': 0.06338532953294476,
   'min': 0.032,
   '25%': 0.042,
   '50%': 0.097,
   '75%': 0.151,
   'max': 0.174}}}

In [9]:
enhanced_metrics

{'run_metadata': {'run_name': 'enhanced',
  'timestamp_utc': '2025-12-26T00:34:03.932010',
  'embedding_model': 'text-embedding-3-small',
  'top_k': 3,
  'confidence_formula': '0.7*similarity + 0.3*margin',
  'notes': 'Evaluation on enhanced multilingual FAQ augmentation'},
 'num_queries': 32,
 'top1_accuracy': 0.90625,
 'top3_accuracy': 1.0,
 'accuracy_by_language': {'top1_correct': {'en': 0.95,
   'mk': 0.8333333333333334},
  'top3_correct': {'en': 1.0, 'mk': 1.0}},
 'confidence_stats': {'correct': {'count': 29.0,
   'mean': 0.6962068965517241,
   'std': 0.13839471999381872,
   'min': 0.413,
   '25%': 0.633,
   '50%': 0.683,
   '75%': 0.767,
   'max': 1.0},
  'incorrect': {'count': 3.0,
   'mean': 0.5836666666666667,
   'std': 0.3748337409216696,
   'min': 0.151,
   '25%': 0.47050000000000003,
   '50%': 0.79,
   '75%': 0.8,
   'max': 0.81}}}

## Overall Accuracy Comparison

In [10]:
comparison = pd.DataFrame({
    "version": ["baseline", "enhanced"],
    "top1_accuracy": [
        baseline_metrics["top1_accuracy"],
        enhanced_metrics["top1_accuracy"]
    ],
    "top3_accuracy": [
        baseline_metrics["top3_accuracy"],
        enhanced_metrics["top3_accuracy"]
    ]
})

comparison

    version  top1_accuracy  top3_accuracy
0  baseline        0.84375         0.9375
1  enhanced        0.90625         1.0000

## Accuracy by Language

In [11]:
baseline_lang = pd.DataFrame(baseline_metrics["accuracy_by_language"]).T
enhanced_lang = pd.DataFrame(enhanced_metrics["accuracy_by_language"]).T

baseline_lang["version"] = "baseline"
enhanced_lang["version"] = "enhanced"

pd.concat([baseline_lang, enhanced_lang])

                en        mk   version
top1_correct  0.95  0.666667  baseline
top3_correct  1.00  0.833333  baseline
top1_correct  0.95  0.833333  enhanced
top3_correct  1.00  1.000000  enhanced

## Coverage Comparison (Confidence â‰¥ Threshold)

In [12]:
baseline_coverage = baseline_df["top1_correct"].mean()
enhanced_coverage = enhanced_df["top1_correct"].mean()

pd.DataFrame({
    "version": ["baseline", "enhanced"],
    "top1_accuracy": [baseline_coverage, enhanced_coverage]
})

    version  top1_accuracy
0  baseline        0.84375
1  enhanced        0.90625

## Confidence Distribution Comparison

In [14]:
baseline_df["version"] = "baseline"
enhanced_df["version"] = "enhanced"

combined = pd.concat([baseline_df, enhanced_df])

combined.groupby(["version", "top1_correct"])["confidence"].describe()

                       count      mean       std    min     25%    50%    75%  \
version  top1_correct
baseline False           5.0  0.099200  0.063385  0.032  0.0420  0.097  0.151
         True           27.0  0.534630  0.220700  0.080  0.3810  0.648  0.688
enhanced False           3.0  0.583667  0.374834  0.151  0.4705  0.790  0.800
         True           29.0  0.696207  0.138395  0.413  0.6330  0.683  0.767

                         max
version  top1_correct
baseline False         0.174
         True          0.807
enhanced False         0.810
         True          1.000

## Macedonian Query Performance

In [15]:
baseline_mk = baseline_df[baseline_df["language"] == "mk"]
enhanced_mk = enhanced_df[enhanced_df["language"] == "mk"]

pd.DataFrame({
    "version": ["baseline", "enhanced"],
    "mk_top1_accuracy": [
        baseline_mk["top1_correct"].mean(),
        enhanced_mk["top1_correct"].mean()
    ],
    "mk_top3_accuracy": [
        baseline_mk["top3_correct"].mean(),
        enhanced_mk["top3_correct"].mean()
    ]
})

    version  mk_top1_accuracy  mk_top3_accuracy
0  baseline          0.666667          0.833333
1  enhanced          0.833333          1.000000

## Failure Reduction Analysis

In [16]:
baseline_failures = baseline_mk[~baseline_mk["top3_correct"]]
enhanced_failures = enhanced_mk[~enhanced_mk["top3_correct"]]

len(baseline_failures), len(enhanced_failures)

(2, 0)

## Summary of Improvements

Compared to the baseline system, the enhanced retrieval pipeline demonstrates:

- Improved overall Top-1 and Top-3 accuracy
- Significantly better performance on Macedonian queries
- Higher and more stable confidence scores
- Reduced retrieval ambiguity due to canonical answer normalization

These results confirm that adding multilingual question variants mapped
to canonical answers improves retrieval quality **without introducing
translation overhead or additional runtime complexity**.